@import "node_modules/bootstrap/scss/bootstrap.scss";
// @import "node_modules/bootstrap3/dist/css/bootstrap.css";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootstrap-saas/bootstrap";
// @import "../../node_modules/bootstrap3/dist/css/bootstrap.css";

@import "node_modules/azure-devops-ui/Core/_platformCommon.scss";
@import "node_modules/azure-devops-ui/Core/override.scss";

@import "node_modules/highlight.js/scss/default.scss";
 
#root {
    height: 100%;  
    width: 100%;
    display: flex;
}

.content {
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}

.form-group {
    margin-bottom: 0.1rem;
    order:1;
    // max-width: 500px uncomment to shrink whole form
}

// error list is rendered in this, so set to above the submit button, but below form
.mb-4.card.border-danger {
    order: 2;
}

.flex-grow {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

// submit button at the bottom (there is no class in rsjf, but luckily it is the last div)
.flex-grow div:last-child {
    order: 3;
  }

.custom-select, .form-control{
    font-size: 0.8rem; 
}

.form-group .pb-4, .py-4 {
    padding-bottom: 0rem !important;
    padding-top: 0rem !important;
}

.identity-picker-container{
    max-width: 500px
}

.settings-form-item{
    margin-top: 20px;
}